<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="/" class="d-flex align-center">
            <img
                    src="/media/logoCine.jpg"
                    class="rounded-circle"
                    contain
                    alt="Cine"
                    width="50" height="50"
            />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Directores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/peliculas">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>

            </ul>
        </div>
    </div>
</nav>